<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    名称
                </th>
                <th scope="col" class="px-6 py-3">
                    是否掌握
                </th>
                <th scope="col" class="px-6 py-3">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: "books/word", collection: @words %>
        </tbody>
    </table>
     <div>
    <% if @pagy.count > @pagy.items %>
      <div class="">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>
  </div>
</div>