  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <%= word.name %>
    </th>
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <% if word.mastered? %>
            已
        <% else %>
            否
        <% end %>
    </th>
        <td class="px-6 py-4">
        <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
        <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline hover:opacity-90 transition-opacity">
            <%= link_to '详情', book_word_path(@book, word) %>
        </a>
            <% if @book.editable %>
            <%= button_to "删除", [@book, word], method: :delete, data: { turbo_confirm: "你确定要删除吗？" }, class:"btn btn-danger" %>
            <% end %>
        </div>
    </td>
</tr>