<% @books.each do |book| %>
  <%= turbo_stream_from book.user %>
<% end %>
<div class="container">
  <h1 class="text-center" data-turbo-transition="title"><span class="font-bold text-red-500">单词</span>本</h1>
</div>
<%= render "books/add_book_button" %>
<div class="">
  <div class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <div class="grid grid-cols-4 gap-4">
      <%= render partial: "books/book", collection: @books %>
    </div>
  </div>
</div>
<div class="flex justify-end mt-48">
  <% if @pagy.count > @pagy.items %>
    <div class="">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
